body{
    margin: 0;
    background-color: rgb(43,41,34);
}

footer{
  display: grid;
  grid-template-columns: 1fr 1.3fr;
}

.logo{
  margin-top: 40px;
  margin-left: 60px;
  width: 20%;
}

footer ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

footer li{
  margin-top: 20px;
  margin-right: 30px;
  font-size: 18px;
  color: #fff;
  display: inline-block;
}

footer button{
  padding: 16px 42px 16px 42px;
  border-radius: 10px;
  font-weight: bolder;
  background-color: transparent;
  color:  #daa520;
  border: 2px solid  #daa520;
  position: relative;
  bottom: 50px;
  margin-left: 80%;
  font-size: 15px;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 40px;
}

.hero-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-section h1{
  font-size: 65px;
  margin-left: 65px;
  word-spacing: 10px;
  color: #fff;
}
.hero-section p{
  font-size: 21px;
  margin-top: 60px;
  margin-left: 60px;
  line-height: 28px;
  color: #fff;
  word-spacing: 5px;
}

.hero-image{
  height: auto;
  width: fit-content;
}

.hero-image img{
  width: 100%;
  height: 20%;
}

.hero{
  padding-bottom: 100px;
}